@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url('https://fonts.googleapis.com/css?family=Courgette');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@keyframes cp-meter-animate-before {
    0% {
        transform: rotate(-45deg)
    }

    100% {
        transform: rotate(315deg)
    }
}


@media (max-width: 576px) {
    .btn-back-to-top {
      bottom: 15px;
      right: 15px;
    }
  }
  

  

  @media (max-width: 1200px) {
    .main_menu > li {
      margin-left: 4px;
      margin-right: 4px;
    }
  
    .social {padding-right: 0px;}
  
    .logo {
      height: 45px;
    }
  }
  
  @media (max-width: 992px) {
    .wrap_menu {
      display: none;
    }
  
    .wrap_header {
      height: 100px;
    }
  }
  

  @media (max-width: 576px) {
    .sidebar {width: 300px;}
  }

  
  @media (max-width: 576px) {
    .wrap_header {
      height: 80px;
    }
  
    .gallery-sidebar {
      padding-left: 20px;
      padding-right: 20px;
    }
  }


  @media (max-width: 576px) {
    .next-slick1 {
      right: 15px;
    }
  
    .prev-slick1 {
      left: 15px;
    }
  }

  
@media (max-width: 768px) {
    .wrap-content-slide1 .tit1 {
      font-size: 70px;
    }
  
    .wrap-content-slide1 .txt1 {
      font-size: 60px;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-content-slide1 .tit1 {
      font-size: 60px;
    }
  
    .wrap-content-slide1 .txt1 {
      font-size: 50px;
    }
  }
  

  @media (max-width: 576px) {
    .next-slick2 {
      right: 15px;
    }
  
    .prev-slick2 {
      left: 15px;
    }
  }

  
  
@media (max-width: 576px) {
    .next-slick3 {
      right: 15px;
    }
  
    .prev-slick3 {
      left: 15px;
    }
  }

  
  
@media (max-width: 992px) {
    .blo2 {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .wrap-pic-blo2 {
      width: 100%;
      height: 390px;
    }
  
    .wrap-text-blo2 {
      width: 100%;
      min-height: 390px;
    }
  
    .time-event {
      width: 100%;
      height: auto;
    }
  
    .effect1 .txt-effect1 {
      width: 100%;
      height: 50px;
      padding: 10px;
      transform-origin: center center;
      position: unset;
      -webkit-transform: rotateZ(0deg);
      -moz-transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -o-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
    }
  }
  
  @media (max-width: 576px) {
    .blo2 {
      width: 100%;
    }
  
    .wrap-pic-blo2 {
      width: 100%;
      height: 364px;
    }
  
  }
  

  @media (max-width: 576px) {
    .bg-title-page .tit6 {font-size: 30px;}
  }
  

  
  @media (max-width: 576px) {
    .line-item-mainmenu {
      display: none;
    }
  
    .price-item-mainmenu {
      padding-top: 5px;
    }
  
    .name-item-mainmenu {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .text-blo3 {
      width: 100%;
    }
  }
    
  
  
@media (max-width: 768px) {
    .item-gallery {
      width: calc((100% - 110px) / 2);
    }
  }
  
  @media (max-width: 576px) {
    .item-gallery {
      width: calc((100% - 30px) / 1);
    }
    .wrap-gallery {
      padding-left: 0;
      padding-right: 0;
    }
  }

  
@media (max-width: 1200px) {
	.p-l-0-xl {padding-left: 0;}

}


/*[ LG ]
-----------------------------------------------------------
*/
@media (max-width: 992px) {
	.flex-col-c-m-lg {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

	.p-l-15-lg {padding-left: 15px;}
	.p-r-15-lg {padding-right: 15px;}

}


/*[ MD ]
-----------------------------------------------------------
*/
@media (max-width: 768px) {
	.w-full-md {width: 100%}
	.p-r-0-md {padding-right: 0;}
	.p-l-0-md {padding-left: 0;}
	.p-b-0-md {padding-bottom: 0;}
	.p-t-0-md {padding-top: 0;}

	.bo-none-md {border: none;}
}


/*[ SM ]
-----------------------------------------------------------
*/
@media (max-width: 576px) {
	.flex-col-l-sm {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	.flex-col-c-sm {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
}
  

  

